<div class="row mt-3">
<div class="col-lg-6">
    <h3>Listado de Comentario</h3>
</div>
<div class="col-lg-6">
    <button class="btn btn-primary float-end" routerLink="/agregar">Nuevo Comentario</button>
</div>
</div>

<table *ngIf="listcomentario.length > 0" class="table table-hover mt-3">
    <thead>
        <tr>
            <td>Titulo</td>
            <td>Creador</td>
            <td>Fecha</td>
            <td></td>
            <td></td>
        </tr>

    </thead>
    <tbody>
         <tr *ngFor="let comentario of listcomentario">
            <td>
                
            <a [routerLink]="[]" >{{comentario.titulo}}</a>
        </td>
            <td>{{comentario.creador}}</td>
            <td>{{comentario.fechaCreacion | date:'dd/MM/yyyy' }}</td>
            <td style="width: 8%;">
                <button class="btn btn-primary btn-sm float-end">Editar</button>
            </td>
            <td style="width: 8%;">
                <button class="btn btn-danger btn-sm float-end">eliminar</button>
            </td>
         </tr>
         
    </tbody>
</table>
<div *ngIf="listcomentario.length == 0" class="row mt-5">
    <h5> No hay comentarios  para mostrar</h5>
</div>

